*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.h{
    height: 100vh;
    width: 100%;
    background-image: url(bg.jpg);
    background-size:cover;
    background-position: center;


}
nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 16%;
}
.l{
    color:white;
    font-size: 55px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:rgb(50, 97, 97);
} 
nav ul li{
    list-style-type: none;
    display:inline-block;
    padding:20px;
    font-size: 19px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    text-transform:capitalize;
    
}
nav ul li a:hover{
    color:rgb(134, 169, 233)

}
.content{
    position:absolute;
    top:50%;
    left:8%;
    transform: translayeY(-50);

}
.m{
    height: 100vh;
    width: 100%;
    background-image: url(bg.jpg);
    background-size:cover;
    background-position: center;
    color: white;
}
.skills-inner{
    height:400px
}
.skills{
background-color:rgb(116, 186, 233);
max-width: 40%;
max-height: 200px;
scrollbar-color: rebeccapurple green;
scrollbar-width: thin;
opacity: .7;
overflow-y: scroll;
color: rgb(47, 47, 36);
font-weight: bold;
font-style:oblique;
column-count: 3;
}
:-moz-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-moz-scrollbar-track {
    border: 1px solid yellowgreen;
    border-radius: 10px;
    }
    
    ::-moz-scrollbar-thumb {
    background: yellowgreen;  
    border-radius: 10px;
    }
    
    ::-moz-scrollbar-thumb:hover {
    background: #88ba1c;  
    } */
h1{
    color:white;
    margin:20px,0px,20px;
    font-size:75px;
}
h3{
    color:white;
    font-size:25px;
    margin-bottom:20px
}
h4{
    color:rgb(245, 241, 210);
    font-size:25px;
    letter-spacing: 2px;
    margin-bottom:10px
}
.n form{
    width:380px;
    max-width: 100%;
    position:relative;

}
.n form input:first-child{
    display:inline-block;
    width:100%;
    padding: 14px 130px 14px 15px;
    border:2px,solid,rgb(192, 175, 117);
    outline:none;
    border-radius: 30px;
}
.n form input:last-child{
    position:absolue;
    display:inline-block;
    outline:none;
    border:none;
    padding: 10px 30px;
    border-radius:30px;
    background-color: rgb(252, 238, 180);
    box-shadow: 0px 0px 5px rgb(2, 33, 73),0px 0px 15px rgb(1, 24, 49);
    top:6px;
    right:6px;
}
/* .skills{
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 200px;
    height: 2000%;
    overflow: scroll;
    }
    
    /* Scrollbar styles */
    
